---
interface Props {
    text: string
    size?: 'normal' | 'small'
}

const { text, size = 'normal' } = Astro.props;
---

<span class:list={[
    "bg-secondary text-onSecondary py-1.5 px-3 rounded-lg font-normal",
    {
        'text-sm px-2': size === 'small'
    }
]}>
    {text}
</span>
