---
import Chip from "./Chip.astro";

const technologies = [
    {
        title: "Frontend",
        technologies: ["React", "Next JS", "Astro"],
        show: true,
    },
    {
        title: "Backend",
        technologies: ["Nodejs", ".NET"],
        show: true,
    },
    {
        title: "Herramientas",
        technologies: ["Git", "Docker"],
        show: true,
    },
];
---

<section class="flex flex-col gap-4 py-6">
    <h2 class="text-2xl font-medium">Tecnologías</h2>
    {
        technologies.map((technology) => {
            return technology.show && (
                <article class="">
                    <h3 class="text-lg pb-2">{technology.title}</h3>
                    <div class="flex gap-3">
                        {technology.technologies.map(tech => <Chip text={tech} />)}
                    </div>
                </article>
            );
        })
    }
</section>
