---
import type { Article } from '../../interfaces/index'
import { lineBreakFormatter } from '../../utils/formatter';

type Props = Article

const { title, dateRange, place, description } = Astro.props;
---

<article class="w-full py-3 flex flex-col gap-2">
    <div class="flex justify-between items-center max-lg:flex-col max-lg:gap-2 max-lg:items-start">
        <h2 class="uppercase text-lg max-w-4/6 max-lg:max-w-full">
            {title}
        </h2>
        <span class="text-base">
            {dateRange}
        </span>
    </div>
    <h3 class="text-base text-gray-500 dark:text-teal-100">{place}</h3>
    {( description && <p class="text-lg text-onSurfaceVariant" set:html={lineBreakFormatter(description)}></p>)}
</article>
