---
import type { Article } from "../../interfaces";
import ArticleCard from "./ArticleCard.astro";

interface Props {
    title: string;
    anchorTag: string;
    articles: Article[];
}

const { title, articles, anchorTag } = Astro.props;
---

<section class="flex flex-col gap-4 py-6 max-lg:min-h-screen" id={anchorTag}>
    <h2 class="text-3xl font-medium">{title}</h2>
    {articles.map((article) => <ArticleCard {...article} />)}
</section>
