---
import type { Article } from "../../interfaces";
import ArticleCard from "./ArticleCard.astro";

interface Props {
    title: string;
    anchorTag: string;
    articles: Article[];
}

const { title, articles, anchorTag } = Astro.props;
---

<section
    class="animate-appear flex min-h-screen flex-col justify-center gap-4 py-20"
    id={anchorTag}
>
    <h2>{title}</h2>
    {articles.map((article) => <ArticleCard {...article} />)}
</section>
