@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
  --font-josefin: "Josefin Sans Variable";
  --font-lexend: "Lexend Variable";
  --color-secondary: #1f36e4;
  --color-onSecondary: #ffffff;
  --color-onSurface: #838383;
  --color-gridBackground: #c8b7b70e;
}

html.dark {
  color: white;
  --color-onSurface: #da832c;
  --color-gridBackground: #c8b7b70e;
}

.main-gradient {
  @apply bg-linear-to-br from-[#ffffff] via-[#82b8de] to-[#ADADAD] via-50%
  dark:bg-linear-to-br dark:from-[#1e1e1e] dark:via-[#34659d] dark:to-[#ADADAD] dark:via-50%;
}

:root {
  color-scheme: light dark;
  --color-gridBackground: #c8b7b72c;
}
