<div
    class="animate-appear flex min-h-screen flex-col justify-center gap-4 py-20 lg:py-0"
    id="about"
>
    <h2>Sobre mí</h2>
    <div
        class="text-foreground flex flex-col gap-4 [&>p]:text-base [&>p]:lg:text-lg"
    >
        <p>Vivo en Lima, Perú.</p>
        <p>
            Soy bachiller en Ingeniería Electrónica y llevo más de 1 año
            desarrollando soluciones web full stack de manera autónoma.
        </p>
        <p>
            Me encargo de realizar el diseño, desarrollo, despliegue y
            mantenimiento de las aplicaciones que realizo
        </p>
    </div>
    <slot />
</div>
