---
import Email from "@icons/email.svg?raw";
import Whatsapp from "@icons/whatsapp.svg?raw";
import Github from "@icons/github.svg?raw";
import Linkedin from "@icons/linkedin.svg?raw";
---

<div class="flex flex-col gap-4 py-6" id="contact">
    <h2 class="text-3xl font-medium">Contacto</h2>
    <div class="flex gap-12 items-center mx-auto w-fit pb-6">
        <a class="w-10" href="mailto:isaac568r@gmail.com" target="_blank" rel="noreferrer noopener">
            <Fragment set:html={Email} />
        </a>
        <a class="w-8" href="https://api.whatsapp.com/send/?phone=51993804361&text&type=phone_number&app_absent=0" target="_blank" rel="noreferrer noopener">
            <Fragment set:html={Whatsapp} />
        </a>
        <a class="w-8" href="https://github.com/rc568" target="_blank" rel="noreferrer noopener">
            <Fragment set:html={Github} />
        </a>
        <a class="w-8" href="https://www.linkedin.com/in/rojasisaac/" target="_blank" rel="noreferrer noopener">
            <Fragment set:html={Linkedin} />
        </a>
    </div>
</div>
