---
import Email from "@icons/email.svg?raw";
import Github from "@icons/github.svg?raw";
import Linkedin from "@icons/linkedin.svg?raw";
import Whatsapp from "@icons/whatsapp.svg?raw";
---

<div id="contact">
    <h2>Contacto</h2>
    <div class="mx-auto flex w-fit items-center gap-12 py-6 md:py-12">
        <a
            class="hover:text-accent/75 active:text-accent/75 w-8 transition-colors delay-50 duration-400 md:w-9"
            href="mailto:isaac568r@gmail.com"
            target="_blank"
            rel="noreferrer noopener"
        >
            <Fragment set:html={Email} />
        </a>
        <a
            class="hover:text-accent/75 active:text-accent/75 w-6 transition-colors delay-50 duration-400 md:w-7"
            href="https://api.whatsapp.com/send/?phone=51993804361&text&type=phone_number&app_absent=0"
            target="_blank"
            rel="noreferrer noopener"
        >
            <Fragment set:html={Whatsapp} />
        </a>
        <a
            class="hover:text-accent/75 active:text-accent/75 w-6 transition-colors delay-50 duration-400 md:w-7"
            href="https://github.com/rc568"
            target="_blank"
            rel="noreferrer noopener"
        >
            <Fragment set:html={Github} />
        </a>
        <a
            class="hover:text-accent/75 active:text-accent/75 w-6 transition-colors delay-50 duration-400 md:w-7"
            href="https://www.linkedin.com/in/rojasisaac/"
            target="_blank"
            rel="noreferrer noopener"
        >
            <Fragment set:html={Linkedin} />
        </a>
    </div>
</div>
