---
import Github from "@icons/github.svg?raw";
import Linkedin from "@icons/linkedin.svg?raw";
import Email from "@icons/email.svg?raw";
import Whatsapp from "@icons/whatsapp.svg?raw";
---

<div class="flex gap-12 items-center mx-auto w-fit pb-6">
    <a class="w-10" href="" target="_blank" rel="noreferrer noopener">
        <Fragment set:html={Email} />
    </a>
    <a class="w-8" href="https://api.whatsapp.com/send/?phone=51993804361&text&type=phone_number&app_absent=0" target="_blank" rel="noreferrer noopener">
        <Fragment set:html={Whatsapp} />
    </a>
    <a class="w-8" href="https://github.com/rc568" target="_blank" rel="noreferrer noopener">
        <Fragment set:html={Github} />
    </a>
    <a class="w-8" href="https://www.linkedin.com/in/rojasisaac/" target="_blank" rel="noreferrer noopener">
        <Fragment set:html={Linkedin} />
    </a>
</div>
<div class="w-fit mx-auto text-base pt-8">
    ©  2025 <span class="pl-12">irojas.dev</span>
</div>
