---
import ProjectArticle from "../ProjectArticle/ProjectArticle.astro";
import ProjectGrid from "../ProjectGrid/ProjectGrid.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import Presentation from "./Presentation.astro";
import Technologies from "./Technologies.astro";

import { education, experiencia } from "../../utils/info";
---

<div class="mx-auto w-2xl max-lg:min-w-xs max-lg:w-auto" id="#">
    <Presentation />
    <About>
        <Technologies />
    </About>
    <ProjectArticle
        title={"Educación"}
        articles={education}
        anchorTag={"education"}
    />
    <!-- <ProjectArticle
        title={"Experiencia"}
        articles={experiencia}
        anchorTag={"experience"}
    /> -->
    <ProjectGrid />
    <Contact />
    <Footer />
</div>
