---
import ProjectArticle from "../ProjectArticle/ProjectArticle.astro";
import ProjectGrid from "../ProjectGrid/ProjectGrid.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import Presentation from "./Presentation.astro";
import Technologies from "./Technologies.astro";

import { education } from "../../utils/info";
---

<div class="w-full lg:max-w-2xl lg:mx-auto overflow-clip p-6 sm:p-12" id="#">
    <Presentation />
    <About>
        <Technologies />
    </About>
    <ProjectArticle
        title={"Educación"}
        articles={education}
        anchorTag={"education"}
    />
    <!-- <ProjectArticle
        title={"Experiencia"}
        articles={experiencia}
        anchorTag={"experience"}
    /> -->
    <ProjectGrid />
    <Contact />
    <Footer />
</div>
