<div class="min-h-screen flex flex-col justify-center gap-8" id="home">
    <span class="text-lg">Hola, soy</span>
    <h1 class="text-6xl font-lexend tracking-wide pb-1 font-medium bg-gradient-to-br from-cyan-600 to-green-500 bg-clip-text text-transparent">
        Isaac
        <br>
        Rojas
    </h1>
    <p class="text-xl">
        Bachiller en Ingeniería Electrónica
        <br />
        Desarrollador Web Full-Stack
    </p>
</div>