<div
    class="flex min-h-screen flex-col justify-center gap-8 text-lg lg:text-xl"
    id="home"
>
    <span>Hola, soy</span>
    <h1
        class="font-lexend bg-gradient-to-br from-cyan-600 via-green-500 to-cyan-600 bg-clip-text pb-1 text-transparent"
    >
        Isaac
        <br />
        Rojas
    </h1>
    <span class="leading-8">
        Bachiller en Ingeniería Electrónica
        <br />
        Desarrollador Web Full-Stack
    </span>
</div>

<style>
    h1 {
        object-fit: fill;
        background-size: 400% 400%;
        animation: background-move 6s cubic-bezier(0.55, 0.085, 0.68, 0.53)
            infinite;
    }

    @keyframes background-move {
        0% {
            background-position: 0%;
        }
        50% {
            background-position: 80% 80%;
        }
        100% {
            background-position: 100% 100%;
        }
    }
</style>
