<div class="min-h-screen flex flex-col justify-center gap-8" id="home">
  <span class="text-lg">Hola, soy</span>
  <h1
    class="text-6xl lg:text-8xl font-lexend tracking-wide pb-1 font-medium bg-gradient-to-br from-cyan-600 via-green-500 to-cyan-600 bg-clip-text text-transparent"
  >
    Isaac
    <br />
    Rojas
  </h1>
  <p class="text-xl leading-8">
    Bachiller en Ingeniería Electrónica
    <br />
    Desarrollador Web Full-Stack
  </p>
</div>

<style>
  h1 {
    object-fit: fill;
    background-size: 400% 400%;
    animation: background-move 6s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
  }

  @keyframes background-move {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 100% 100%;
    }

  }
</style>
