---
import Navbar from "../Navbar/Navbar.astro";
import AsideOptions from "../AsideOptions.astro";
---

<div
  class="fixed left-0 right-0 top-0 px-12 py-8 flex max-lg:justify-center max-lg:gap-8 gap-3 backdrop-blur-lg w-full lg:justify-between max-lg:left-1/2 max-lg:-translate-x-1/2 max-lg:py-4"
>
  <Navbar />
  <AsideOptions />
</div>
