---
import Navbar from "../Navbar/Navbar.astro";
import AsideOptions from "./AsideOptions.astro";
---

<div
    class="fixed top-0 right-0 left-0 z-30 flex w-full gap-3 px-12 py-8 backdrop-blur-lg max-lg:left-1/2 max-lg:-translate-x-1/2 max-lg:justify-center max-lg:gap-8 max-lg:py-4 lg:justify-between"
>
    <Navbar />
    <AsideOptions />
</div>
