---
import Arrow from "@icons/arrow.svg?raw";
---

<div class="w-fit">
    <button
        class="relative flex cursor-pointer gap-4 max-md:gap-2"
        id="dropdownLanguageButton"
    >
        <span class="pr-2 max-md:hidden"
            >Idioma:
            <span id="language" class="pl-2">Español</span>
        </span>
        <span class="hidden max-md:block">EN</span>
        <div class="w-4 self-center max-md:w-3">
            <Fragment set:html={Arrow} />
        </div>
    </button>
    <div
        id="dropdownLanguage"
        class="absolute right-0 z-50 hidden max-md:top-12 max-md:right-3"
    >
        <ul
            class="overflow-clip rounded-xl bg-stone-100/15 max-md:bg-[#a1cceb] dark:max-md:bg-[#34659d]"
            aria-labelledby="dropdown menu"
        >
            <li class="hover:bg-stone-200/20">
                <button class="cursor-pointer px-6 py-2">Español</button>
            </li>
            <li class="hover:bg-stone-200/20">
                <button class="cursor-pointer px-6 py-2">Inglés</button>
            </li>
        </ul>
    </div>
</div>

<script>
    const dropdownButtons = document.querySelectorAll(
        "#dropdownLanguageButton"
    )!;
    const dropdowns = document.querySelectorAll("#dropdownLanguage")!;

    dropdownButtons.forEach((element) =>
        element.addEventListener("click", () => {
            dropdowns.forEach((dropdown) => {
                dropdown.classList.toggle("hidden");
            });
        })
    );
</script>
