---
import { navbar } from "../../utils/info";
---

<nav>
    <ul class="flex flex-row gap-7">
        {
            navbar.map((nav) => {
                return (
                    <li class="group relative md:overflow-auto md:rounded-2xl md:px-3 md:py-1">
                        <a href={`#${nav.href}`} class="p-0">
                            <div class="w-6 md:hidden">
                                <Fragment set:html={nav.icon} />
                            </div>{" "}
                            <span class="hidden md:block">{nav.title}</span>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<style>
    li::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 1.15rem;
        aspect-ratio: 1 / 1;
        background-color: hsl(var(--accent));
        opacity: 75%;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.4s ease-out 50ms;
        z-index: -1;
    }

    li a {
        transition: color 0s;
    }

    @media (hover: hover) {
        li:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        li:hover a {
            color: hsl(var(--accent-foreground));
            transition: color 0.4s ease-out 50ms;
        }
    }

    @media (hover: none) {
        li::before {
            border-radius: 100%;
            transition: transform 0.1s ease-out 50ms;
        }

        li:active::before {
            transform: translate(-50%, -50%) scale(1);
        }

        li:active a {
            color: hsl(var(--accent-foreground));
            transition: color 0.4s ease-out 50ms;
        }
    }

    li:focus-within::before {
        transform: translate(-50%, -50%) scale(1);
    }
</style>
