<div class="min-h-screen flex flex-col justify-center gap-4 max-lg:pt-20" id="about">
    <h2 class="text-3xl tracking-wide">Sobre mí</h2>
    <p class="text-base text-teal-100 font-lexend">
        Vivo en Lima, Perú.
        <br><br>
        Soy bachiller en Ingeniería Electrónica y actualmente me dedico al desarrollo de aplicaciones Web Full Stack.
        <br><br>
        Tengo conocimientos de diseño, los cuáles me gusta aplicarlos a los proyectos que realizo.
    </p>
    <slot />
</div>