---

---

<nav>
    <ul class="flex flex-col gap-3">
        <li class="border-l-3 pl-1"><a href="#">Sobre mí</a></li>
        <li class="border-l-3 pl-1"><a href="#education">Educación</a></li>
        <li class="border-l-3 pl-1"><a href="#experience">Experiencia</a></li>
        <li class="border-l-3 pl-1"><a href="#projects">Proyectos</a></li>
        <li class="border-l-3 pl-1"><a href="#contact">Contacto</a></li>
    </ul>
</nav>
