---
import { projects } from "../../utils/info";
import ProjectCard from "./ProjectCard.astro";
---
<section class="pb-12" id="projects">
    <h2 class="pb-4 text-3xl font-medium">Proyectos</h2>
    <div class="grid grid-cols-2 gap-4 justify-between max-md:grid-cols-1">
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
</section>
