---
import { projects } from "../../utils/info";
import ProjectCard from "./ProjectCard.astro";
---

<section
    class="flex min-h-screen flex-col justify-center gap-4 py-20"
    id="projects"
>
    <h2 class="animate-appear font-medium">Proyectos</h2>
    <div class="grid grid-cols-1 justify-between gap-4">
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
</section>

<style>
    div > article {
        animation-range: entry 5% cover 20%;
    }

    @media (max-width: 767px) {
        div > article {
            animation-range: entry 5% cover 5%;
        }
    }
</style>
