---
import Moon from "@icons/moon.svg?raw";
import Sun from "@icons/sun.svg?raw";
---

<div id="toggle" class="flex cursor-pointer md:gap-2">
    <button
        class="hover:text-accent/80 w-6 cursor-pointer rounded-full p-0 transition-colors duration-300 md:w-9 md:p-2 dark:hidden dark:cursor-auto dark:opacity-30 dark:hover:bg-transparent md:dark:block"
    >
        <Fragment set:html={Moon} />
    </button>
    <button
        class="dark:hover:text-accent/80 hidden w-6 rounded-full p-0 opacity-30 transition-colors duration-300 hover:bg-none md:block md:w-9 md:p-2 dark:block dark:cursor-pointer dark:opacity-100"
    >
        <Fragment set:html={Sun} />
    </button>
    <span class="sr-only">Theme toogle</span>
</div>

<script>
    const updatedThemePreference = () => {
        document.documentElement.classList.toggle(
            "dark",
            colorSchemePreference.matches
        );
    };

    const handleClick = () => {
        const localTheme = localStorage.getItem("theme");

        let newTheme;
        if (!localTheme) {
            newTheme = colorSchemePreference.matches ? "light" : "dark";
        } else {
            newTheme = localTheme === "dark" ? "light" : "dark";
        }

        document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", newTheme);
    };

    // Adding a Listener con the colorSchemePreference
    const colorSchemePreference = window.matchMedia(
        "(prefers-color-scheme: dark)"
    );
    colorSchemePreference.addEventListener("change", updatedThemePreference);

    const toggleThemeButtons = document.querySelectorAll("#toggle");
    toggleThemeButtons.forEach((toggleButton) => {
        toggleButton.addEventListener("click", handleClick);
    });
</script>
