---
import Moon from "@icons/moon.svg?raw";
import Sun from "@icons/sun.svg?raw";
---

<div id="toggle" class="flex gap-2 cursor-pointer max-lg:gap-5" transition:persist>
    <button class="w-9 p-2 cursor-pointer transition-colors duration-300 rounded-full hover:bg-gray-900/20 dark:opacity-30 dark:hover:bg-transparent dark:cursor-auto max-lg:dark:hidden max-lg:p-0 max-lg:w-6">
        <Fragment set:html={Moon} />
    </button>
    <button class="w-9 p-2 opacity-30 hover:bg-none rounded-full transition-colors duration-300 dark:block dark:opacity-100 dark:hover:bg-gray-900/20 dark:cursor-pointer max-lg:p-0 max-lg:w-6 max-lg:dark:block max-lg:hidden">
        <Fragment set:html={Sun} />
    </button>
    <span class="sr-only"></span>
</div>

<script>
    const updatedThemePreference = () => {
        document.documentElement.classList.toggle('dark', colorSchemePreference.matches)
    }

    const handleClick = () => {
        const localTheme = localStorage.getItem('theme')

        let newTheme
        if (!localTheme) {
            newTheme = colorSchemePreference.matches ? 'light' : 'dark'
        } else {
            newTheme = localTheme === 'dark' ? 'light' : 'dark'
        }

        document.documentElement.classList.toggle('dark')
        localStorage.setItem('theme', newTheme)
    }

    // Adding a Listener con the colorSchemePreference
    const colorSchemePreference = window.matchMedia("(prefers-color-scheme: dark)")
    colorSchemePreference.addEventListener('change', updatedThemePreference)
    
    const toggleThemeButtons = document.querySelectorAll('#toggle')
    toggleThemeButtons.forEach(toggleButton => {
        toggleButton.addEventListener('click', handleClick)
    });

</script>