---
import Moon from "../../assets/icons/moon.svg?raw";
import Sun from "../../assets/icons/sun.svg?raw";
---

<div id="toggle" class="flex gap-2 cursor-pointer" transition:persist>
    <button class="p-2 cursor-pointer hover:bg-gray-900/20 transition-colors duration-300 rounded-full dark:opacity-30 dark:hover:bg-transparent dark:cursor-auto">
        <Fragment set:html={Moon} />
    </button>
    <button class="p-2 dark:cursor-pointer opacity-30 dark:opacity-100 rounded-full hover:bg-none dark:hover:bg-gray-900/20 transition-colors duration-300">
        <Fragment set:html={Sun} />
    </button>
    <span class="sr-only"></span>
</div>

<script>
    const updatedThemePreference = () => {
        document.documentElement.classList.toggle('dark', colorSchemePreference.matches)
    }

    const handleClick = () => {
        const localTheme = localStorage.getItem('theme')

        let newTheme
        if (!localTheme) {
            newTheme = colorSchemePreference.matches ? 'light' : 'dark'
        } else {
            newTheme = localTheme === 'dark' ? 'light' : 'dark'
        }

        document.documentElement.classList.toggle('dark')
        localStorage.setItem('theme', newTheme)
    }

    // Adding a Listener con the colorSchemePreference
    const colorSchemePreference = window.matchMedia("(prefers-color-scheme: dark)")
    colorSchemePreference.addEventListener('change', updatedThemePreference)
    
    const toggleThemeButton = document.getElementById("toggle")
    toggleThemeButton?.addEventListener('click', handleClick)

</script>