---
import "../styles/global.css";
import '@fontsource-variable/josefin-sans';
import background from "../assets/background.svg";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Isaac Rojas</title>
	</head>
	<body class="font-josefin p-12 max-sm:px-4 max-sm:py-6 bg-linear-to-br from-[#f2fbcb] via-[#82b8de] to-[#ADADAD] via-50%">
		<!-- <img class="fixed inset-0 -z-1 w-full h-full" src={background.src} alt="" /> -->
		<slot />
	</body>
</html>